<div class="box-body">
    <h4><b>概览:</b> <a href="" class="btn btn-primary" style="margin-left: 90%">编辑</a></h4>
    <table border="1" class="table  table-responsive"
           style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue">
        <thead>
        <tr>
            <th>类型</th>
            <th>SN</th>
            <th>业务线</th>
            <th>制造商</th>
            <th>管理IP</th>
            <th>机房</th>
            <th>标签</th>
            <th>更新日期</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ asset.get_asset_type_display }}</td>
            <td>{{ asset.asset_nu }}</td>
            <td>{{ asset.business_unit|default:'N/A' }}</td>
            <td>{{ asset.manufacturer|default:'N/A' }}</td>
            <td>{{ asset.ip|default:'N/A' }}</td>
            <td>{{ asset.idc|default:'N/A' }}</td>
            <td>
                {% for tag in asset.tags.all %}
                    <label class="label label-primary">{{ tag.name }}</label>
                {% empty %}
                    -
                {% endfor %}
            </td>
            <td>{{ asset.m_time }}</td>
        </tr>
        </tbody>
    </table>
    <h4><b>服务器:</b></h4>
    <table border="1" class="table  table-responsive"
           style="border-left:3px solid green;border-bottom:1px solid green">
        <thead>
        <tr>
            <th>服务器类型</th>
            <th>型号</th>
            <th>宿主机</th>
            <th>Raid类型</th>
            <th>OS类型</th>
            <th>OS发行版本</th>
            <th>OS版本</th>
            <th>添加方式</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ asset.server.get_sub_asset_type_display }}</td>
            <td>{{ asset.server.model|default:'N/A' }}</td>
            <td>{{ asset.server.hosted_on.id|default:'N/A' }}</td>
            <td>{{ asset.server.raid_type|default:'N/A' }}</td>
            <td>{{ asset.server.os_type|default:'N/A' }}</td>
            <td>{{ asset.server.os_distribution|default:'N/A' }}</td>
            <td>{{ asset.server.os_release|default:'N/A' }}</td>
            <td>{{ asset.server.get_created_by_display }}</td>
        </tr>
        </tbody>
    </table>
    <table border="1" class="table  table-responsive"
           style="border-left:3px solid deepskyblue;border-bottom:1px solid deepskyblue">
        <thead>
        <tr>
            <th>合同</th>
            <th>价格</th>
            <th>购买日期</th>
            <th>过保日期</th>
            <th>管理员</th>
            <th>批准人</th>
            <th>备注</th>
            <th>批准日期</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ asset.contract.name|default:'N/A' }}</td>
            <td>{{ asset.price|default:'N/A' }}</td>
            <td>{{ asset.purchase_day|default:'N/A' }}</td>
            <td>{{ asset.expire_day|default:'N/A' }}</td>
            <td>{{ asset.admin|default:'N/A' }}</td>
            <td>{{ asset.approved_by|default:'N/A' }}</td>
            <td>{{ asset.memo|default:'N/A' }}</td>
            <td>{{ asset.m_time }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="box-footer">
    <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a
        href="{% url 'asset/index' %}"><strong>返回资产列表页</strong></a>
</div>