<style>
    .handle_log {
        font-size: 13px !important;
        font-family: Tahoma, Geneva, Helvetica, sans-serif !important;
    }

    .time {
        padding: 10px;
        border: 1px solid #ddd;
        position: absolute;
        width: 150px;
        left: -190px;
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.12);
    }

    .record {
        padding: 10px;
        border: 1px solid #ddd;
        margin: 17px;
        min-height: 40px;
        box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.12);
    }

    .record .auther {
        text-align: right;
        padding: 5px 0px;
        color: #9E9C9C;
    }

</style>
<div class="clearfix handle_log">

    <div class="record">
        {{ asset.memo }}
        <div class="auther">
            <span><i class="fa fa-user"></i></span>
            <span>{{ asset.approved_by }}</span>
        </div>
    </div>
</div>



